.visible {
  visibility: visible
}

.absolute {
  position: absolute
}

.right-2 {
  right: 0.5rem
}

.top-2 {
  top: 0.5rem
}

.right-0 {
  right: 0px
}

.top-3 {
  top: 0.75rem
}

.left-0 {
  left: 0px
}

.top-0 {
  top: 0px
}

.z-50 {
  z-index: 50
}

.z-10 {
  z-index: 10
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.my-\[3\.5\] {
  margin-top: 3.5;
  margin-bottom: 3.5
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-5 {
  margin-top: 1.25rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.h-80 {
  height: 20rem
}

.h-48 {
  height: 12rem
}

.h-1\/3 {
  height: 33.333333%
}

.h-2 {
  height: 0.5rem
}

.h-24 {
  height: 6rem
}

.h-px {
  height: 1px
}

.h-52 {
  height: 13rem
}

.h-40 {
  height: 10rem
}

.h-28 {
  height: 7rem
}

.h-14 {
  height: 3.5rem
}

.h-20 {
  height: 5rem
}

.h-16 {
  height: 4rem
}

.h-44 {
  height: 11rem
}

.w-full {
  width: 100%
}

.w-11\/12 {
  width: 91.666667%
}

.w-48 {
  width: 12rem
}

.w-24 {
  width: 6rem
}

.w-1\/2 {
  width: 50%
}

.w-28 {
  width: 7rem
}

.w-14 {
  width: 3.5rem
}

.w-20 {
  width: 5rem
}

.w-16 {
  width: 4rem
}

.flex-1 {
  flex: 1 1 0%
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.self-center {
  align-self: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-2xl {
  border-radius: 1rem
}

.bg-black\/40 {
  background-color: rgb(0 0 0 / 0.4)
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-indigo-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity))
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}

.bg-slate-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity))
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity))
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pb-40 {
  padding-bottom: 10rem
}

.text-justify {
  text-align: justify
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.drop-shadow-lg {
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
